# Created by .ignore support plugin (hsz.mobi)
.DS_Store
list.txt
.idea
.eggs/
build/
dist/
docs/
kumaoche.srctrlbm
kumaoche.srctrldb
kumaoche.srctrlprj
kumaoche.egg-info/
tests/__pycache__/
tests/service/__pycache__/
